.one-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: lowercase;
}
.one-product p {
  border-bottom: 2px solid white;
  letter-spacing: 1px;
}
.one-product img {
  width: 400px;
  border-radius: calc(var(--main-radius) * 2);
  -webkit-border-radius: calc(var(--main-radius) * 2);
  -moz-border-radius: calc(var(--main-radius) * 2);
  -ms-border-radius: calc(var(--main-radius) * 2);
  -o-border-radius: calc(var(--main-radius) * 2);
  border: 5px solid white;
}
