.home-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--primary-color);
  padding: var(--main-padding);
  font-size: var(--main-font);
  border-right: 3px solid white;
  border-left: 3px solid white;
  height: 125px;
}
.home-outlet {
  background-color: var(--secondary-color);
  min-height: calc(100vh - 125px);
  padding: var(--main-padding);
  font-size: var(--main-font);
  color: var(--line-color);
  border-right: 3px solid white;
  border-left: 3px solid white;
}
