.page-404 {
  font-size: var(--main-font);
  color: var(--line-color);
  width: 100%;
  height: 100vh;
  letter-spacing: 1px;
}
.child-404 {
  text-transform: lowercase;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-404-dashboard {
  font-size: var(--main-font);

  color: var(--line-color);
}
.child-404-dashboard {
  text-transform: lowercase;
  width: fit-content;
  margin: auto;
}
