.table tbody tr td {
  text-align: center;
}
.parent-checkout .table thead tr th {
  border: 1px solid white;
}
.checkout-icons-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-checkout .btn-submit {
  margin: var(--main-margin) auto;
  width: fit-content;
  cursor: default;
  text-transform: lowercase;
}
.parent-checkout .table tr th {
  text-transform: lowercase;
  letter-spacing: 1px;
}
.parent-checkout tbody tr:nth-child(even) {
  background-color: var(--primary-color);
}
