.grand-header {
  position: relative;
}
.layout-header {
  font-size: 16px;
  text-transform: lowercase;
  color: white;
  padding: calc(var(--main-padding) / 2);
  position: absolute;
  z-index: 2;
  background-color: rgb(46, 134, 222, 75%);
  top: 40px;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  border: 1px solid white;
  border-radius: var(--main-radius);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
}
.layout-header:hover {
  background-color: var(--blue-color);
}

.home-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary-color);
  padding: var(--main-padding);
  font-size: var(--main-font);
}

.header-parent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-parent .active {
  background-color: var(--red-color);
}

.header-flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-flex-space1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.header-flex-space2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.header-flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
p.header-btn {
  background-color: var(--line-color);
}
.card .btn-submit {
  margin-bottom: 0;
}
.parent-basket {
  position: relative;
}
.parent-basket .layout-header {
  right: 0;
  left: -150px;
  gap: 15px;
}
.parent-icon-basket {
  position: relative;
}
.parent-icon-basket div {
  position: absolute;
  font-size: 14px;
  left: 3px;
  top: 30px;
  color: white;
  background-color: var(--red-color);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.parent-cart-items .layout-header {
  align-items: center;
  padding: var(--main-padding);
}

.child-cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border-bottom: 1px dashed var(--primary-color);
}
.layout-header .header-btn {
  letter-spacing: 1px;
}
.quantity {
  font-size: 14px;

  color: white;
  background-color: var(--red-color);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
