.home-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--primary-color);
  padding: var(--main-padding);
  font-size: var(--main-font);
  border-right: 3px solid white;
  border-left: 3px solid white;
} /* 1 */
.header-flex-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-flex-out .active {
  background-color: var(--red-color);
}

.header-flex-in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
} /* 2 */
.navbar-flex {
  margin-top: var(--main-margin);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
}

.navbar-flex .active {
  background-color: var(--red-color);
}
.parent-menu {
  position: relative;
}
.menu {
  width: 190px;
  font-size: 20px;
  position: absolute;
  top: 35px;
  z-index: 1;
  left: 0;
  color: white;
  border: 1px solid white;
  padding: var(--main-padding);
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  background-color: rgb(46, 134, 222, 85%);
}
.menu:hover {
  background-color: var(--blue-color);
}
.menu p {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.menu p:hover {
  letter-spacing: 2px;

  color: var(--secondary-color);
}
header.top-header {
  background-color: var(--blue-color);
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  padding: var(--main-padding);
  color: white;
  background-color: var(--blue-color);
  width: 300px;
  border: 3px solid white;
  border-radius: calc(var(--main-radius) * 4);
  -webkit-border-radius: calc(var(--main-radius) * 4);
  -moz-border-radius: calc(var(--main-radius) * 4);
  -ms-border-radius: calc(var(--main-radius) * 4);
  -o-border-radius: calc(var(--main-radius) * 4);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.pop-up-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.pop-up .btn-submit {
  text-transform: lowercase;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
