/* container start */
.container {
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* container end */

/* sideBar start */
@media (min-width: 768px) {
  .nav-side-open {
    font-size: 16px;
    gap: 5px;
    padding: calc(var(--main-padding) / 4);
  }
  .icon-sideBar {
    font-size: 20px;
  }
  .links-sideBar {
    padding: calc(var(--main-padding) / 2.5);
  }
  .nav-side-close {
    padding: calc(var(--main-padding) / 4);
  }
}
@media (min-width: 1200px) {
  .nav-side-open {
    font-size: var(--main-font);
    gap: 10px;
    padding: calc(var(--main-padding) / 2);
  }
  .icon-sideBar {
    font-size: 25px;
  }
  .links-sideBar {
    padding: var(--main-padding);
  }
  .nav-side-close {
    padding: calc(var(--main-padding) / 2);
  }
}
/* sideBar end */

@media (max-width: 500px) {
  .home .container {
    padding: 0;
  }

  .home-outlet {
    font-size: 16px;
  }

  .parent-form form {
    width: 100%;
  }

  .parent-box-images {
    padding: calc(var(--main-padding) / 4);
    margin-bottom: calc(var(--main-margin) / 2);
    margin-top: calc(var(--main-margin) / 2);
  }
  .parent-box-images .header-btn {
    font-size: 13px;
  }
  .inner-progress::after {
    font-size: 13px;
    top: -28px;
  }

  .custom-progress {
    height: 6px;
  }
  .child-loading div {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 500px) {
  .home .container {
    padding: 0 10px;
  }

  .home-outlet {
    font-size: var(--main-font);
  }

  .parent-form form {
    width: 450px;
  }

  .parent-box-images {
    padding: calc(var(--main-padding) / 2);
    margin-bottom: var(--main-margin);
    margin-top: var(--main-margin);
  }
  .parent-box-images .header-btn {
    font-size: var(--main-font);
  }
  .inner-progress::after {
    font-size: 15px;
    top: -33px;
  }
  .custom-progress {
    height: 9px;
  }
  .child-loading div {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  /* container */
  .parent-dashboard .container {
    padding: 0;
  }

  /* topBar */
  .grand-topBar {
    height: 60px;
    font-size: 16px;
    padding: calc(var(--main-padding) / 2);
  }
  .flex2-topBar {
    gap: 10px;
  }

  /* sideBar  */
  .outlet-sideBar {
    padding: calc(var(--main-padding) / 2);
    min-height: calc(100vh - 60px);
  }

  /* input */
  input {
    font-size: 16px;
    padding: 5px 5px;
  }
  select {
    font-size: 16px;
    padding: 5px 5px;
  }
  input[type="file"]::file-selector-button {
    font-size: 16px;
    padding: 5px 0;
  }
  input[type="file"] {
    font-size: 16px;
  }
  .search-input {
    padding: 7px 3px;
    font-size: 16px;
    width: 100%;
  }

  /* btn */
  .btn-submit {
    font-size: 16px;
    padding: 5px;
  }
  .header-btn {
    padding: 0 4px;
    font-size: 16px;
  }
  .top-header {
    font-size: 16px;
    margin-bottom: calc(var(--main-margin) / 2);
  }

  /* table */
  .table {
    font-size: 14px;
  }
  .table th {
    padding: 3px;
  }
  .table td {
    padding: 3px;
  }

  /* form */
  .parent-form {
    font-size: 16px;
  }
  .parent-form form {
    padding: calc(var(--main-padding) / 2);
  }

  /* paginate */
  .paginate-grand {
    padding: 0;
    margin-top: calc(var(--main-margin) / 2);
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .paginate-page-link {
    width: 25px;
    height: 25px;
  }
  .paginate-active-link {
    width: 25px;
    height: 25px;
  }
  .paginate-select {
    width: 30%;
    padding: 2px;
  }

  /* footer */
  .footer {
    font-size: 16px;
  }

  /* landing */
  .landing-product {
    margin: 10px 0;
    padding: calc(var(--main-padding) / 2);
  }

  /* icon */

  .icon-topBar {
    font-size: var(--main-font);
  }
  .icon-star,
  .icon-google,
  .icon-product,
  .icon-table {
    font-size: 16px;
  }
  .icon-upload,
  .icon-cart {
    font-size: 20px;
  }
  .counter-cart {
    height: 19px;
    width: 19px;
    font-size: 12px;
    top: -7px;
    left: 4px;
  }

  /* 404 404 */
  .page-404 {
    font-size: var(--main-font);
  }
  .page-404-dashboard {
    font-size: var(--main-font);
  }

  /* header */
  .icon-header {
    font-size: 17px;
  }
  .pop-up {
    width: 200px;
    font-size: 16px;
    padding: calc(var(--main-padding) / 2);
    border: 1px solid white;
  }
  .cart-items-child {
    width: 200px;
    font-size: var(--main-font);
    padding: var(--main-padding);
  }
  .hidden {
    display: none;
  }
  .cart-items-child {
    width: 170px;
    gap: 5px;
    font-size: 16px;
    top: 40px;
    padding: calc(var(--main-padding) / 2);
  }
  .child-result-filter {
    font-size: 14px;
  }
  .card-product {
    width: 100%;
    padding: calc(var(--main-padding) / 2);
  }
  .card-product .btn-submit {
    margin-bottom: calc(var(--main-margin) / 2);
  }
  .parent-card-product {
    gap: 10px;
  }
  .img-landing {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: calc(var(--main-margin) / 2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .one-category {
    width: 100%;
    padding: calc(var(--main-padding) / 2);
  }
  .one-category p.btn-submit {
    margin-bottom: calc(var(--main-margin) / 2);
  }

  .all-categories {
    gap: 10px;
  }
  .one-category img {
    height: 300px;
  }
  .one-product img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .one-product {
    flex-direction: column;
  }
  .product-items-order {
    order: -1;
  }
  .home-header {
    height: 55px;
    padding: calc(var(--main-padding) / 2);
  }
  .home-outlet {
    min-height: calc(100vh - 55px);
    padding: calc(var(--main-padding) / 2);
  }
  .header-flex-in {
    gap: 7px;
  }
}

@media (min-width: 768px) {
  /* container */
  .parent-dashboard .container {
    padding: 0 10px;
  }

  /* topBar */
  .grand-topBar {
    height: 90px;
    font-size: var(--main-font);
    padding: var(--main-padding);
  }
  .flex2-topBar {
    gap: 20px;
  }

  /* sideBar */
  .outlet-sideBar {
    padding: var(--main-padding);
    min-height: calc(100vh - 90px);
  }

  /* input */
  input {
    font-size: var(--main-font);
    padding: 10px 5px;
  }
  select {
    font-size: var(--main-font);
    padding: 10px 5px;
  }
  input[type="file"]::file-selector-button {
    font-size: var(--main-font);
    padding: 10px 0px;
  }
  input[type="file"] {
    font-size: var(--main-font);
  }
  .search-input {
    padding: 10px 5px;
    font-size: var(--main-font);
  }

  /* btn  */
  .btn-submit {
    font-size: var(--main-font);
    padding: 10px;
  }
  .header-btn {
    padding: 0 7px;
    font-size: var(--main-font);
  }
  .top-header {
    font-size: var(--main-font);
    margin-bottom: var(--main-margin);
  }

  /* table */
  .table {
    font-size: 16px;
  }
  .table th {
    padding: 5px;
  }
  .table td {
    padding: 5px;
  }

  /* form  */
  .parent-form {
    font-size: var(--main-font);
  }
  .parent-form form {
    padding: var(--main-padding);
  }

  /* paginate */
  .paginate-grand {
    padding: var(--main-padding);
    font-size: var(--main-font);
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .paginate-page-link {
    width: 35px;
    height: 35px;
  }
  .paginate-active-link {
    width: 35px;
    height: 35px;
  }
  .paginate-select {
    padding: 5px;
    width: 10%;
  }

  /* footer */
  .footer {
    font-size: var(--main-font);
  }

  /* landing */
  .landing-product {
    margin: 20px 0;
    padding: var(--main-padding);
  }

  /* icon */
  .icon-topBar {
    font-size: 25px;
  }
  .icon-star,
  .icon-product,
  .icon-google,
  .icon-table {
    font-size: var(--main-font);
  }
  .icon-upload,
  .icon-cart {
    font-size: 30px;
  }
  .counter-cart {
    top: -17px;
    left: 7px;
    height: 27px;
    width: 27px;
  }

  /* 404 404 */
  .page-404 {
    font-size: 25px;
  }
  .page-404-dashboard {
    font-size: 25px;
  }
  /* header */
  .icon-header {
    font-size: 25px;
  }

  /* pop-up */
  .pop-up {
    width: 300px;
    border: 3px solid white;
    padding: var(--main-padding);
    font-size: 20px;
  }

  .hidden {
    display: block;
  }
  .cart-items-child {
    width: 200px;
    gap: 10px;
    font-size: var(--main-font);
    padding: var(--main-padding);
  }
  .child-result-filter {
    font-size: 18px;
  }
  .card-product {
    width: 25%;

    padding: var(--main-padding);
  }
  .card-product .btn-submit {
    margin-bottom: var(--main-margin);
  }
  .parent-card-product {
    gap: 30px;
  }
  .img-landing {
    width: 100%;
    height: 400px;
    opacity: 0.9;
    border-radius: calc(var(--main-radius) * 2);
    -webkit-border-radius: calc(var(--main-radius) * 2);
    -moz-border-radius: calc(var(--main-radius) * 2);
    -ms-border-radius: calc(var(--main-radius) * 2);
    -o-border-radius: calc(var(--main-radius) * 2);
    margin-top: var(--main-margin);
    border: 2px solid white;
  }
  .one-category {
    width: 40%;
    padding: var(--main-padding);
  }
  .all-categories {
    gap: 20px;
  }
  .one-category img {
    height: 500px;
  }
  .one-product img {
    width: 400px;
    border-radius: calc(var(--main-radius) * 2);
    -webkit-border-radius: calc(var(--main-radius) * 2);
    -moz-border-radius: calc(var(--main-radius) * 2);
    -ms-border-radius: calc(var(--main-radius) * 2);
    -o-border-radius: calc(var(--main-radius) * 2);
  }
  .one-product {
    flex-direction: row;
  }
  .home-header {
    height: 125px;
    padding: var(--main-padding);
  }
  .home-outlet {
    min-height: calc(100vh - 125px);
    padding: var(--main-padding);
  }
  .header-flex-in {
    gap: 15px;
  }
}
