/* global rules start */

body {
  padding: 0;
  font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b2bec3;
  --secondary-color: #dfe6e9;
  --blue-color: #2e86de;
  --red-color: #f53b57;
  --line-color: #3c6382;
  --main-radius: 3px;
  --main-transition: 0.5s;
  --main-padding: 20px;
  --secondary-padding: 15px;
  --main-margin: 20px;
  --main-font: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

/* global rules end */
